################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/ef-webapi-template/.vs/ef-webapi-template
/ef-webapi-template/.vs/ProjectEvaluation
